

.body{
  background-color:red;

    
  /* Text styles */
  text-align: left;
  color:whitesmoke;
  font-size:1.09em;
  font-family:Arial;
  

  /* Background styles */
  background-image: url('/static/images/background.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

    .card-img-top {
    width: 100%;
    height: 15vw;
   
    }



