{% extends 'base.html' %}{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet" type="text/css" />
   
    <title>Trip Itinerary</title>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
              
                <form class='sign-up-form' action="/add_trip" method="post" enctype="multipart/form-data">
                    <br><br>
                    <h2 class='text-center'>Add Your Travel Journey!</h2>
                    <br>
                    <input class="form-control" name="name" placeholder="Enter Your First Name" type="text" required>
                    <br>
                    <input class="form-control" name="triptitle" placeholder="Enter Trip Title" type="text" required>
                    <br>

                    Please select country : <select id="countries" name="country"></select>
                    <br><br>

                    <input class="form-control" name="city" placeholder="Enter City Name" type="text">
                    <br>
                    Starting Date: 
                    <input type="text" name="sd" placeholder="DD/MM/YYYY" id="startdate" type="date" 
                    onfocus="(this.type='date')"
                    > 
                    <br><br>

                    Ending Date : 
                    <input type="text" name="ed" placeholder="DD/MM/YYYY" id="enddate" type="date"
                    onfocus="(this.type='date')"
                    >  
                    <br><br>
                    <textarea class="form-control" name="tripattraction" placeholder="Your Recommended Attractions?" type="text" required></textarea>
                    <br>
                    <textarea class="form-control" name="tripreview" placeholder="Enter Your Trip Review" type="text" required></textarea>
                    <br>
                    Ratings: <Input type="number" name="ratings" id="myNumber" placeholder="Enter Your Trip Ratings" required min="1" step="0.5" max="5" value="0" pattern="[0-9]*" /><br>
                    <p>(1: Very Poor, 2: Poor, 3: Average, 4: Good, 5: Very Good)</p>
                    Estimated Trip Cost: USD <input type="text" name="totalestimatedcost" required min="0.01" step="0.01" max="1000000" value="0.00" id="number" />
                    <br><br>
                    <label for="">Insert Your Trip Profile Image:</label><br>
          
                    Posted on: {{date}}
                    
                    <br><br>
                  
                    <a href="{{url_for('index')}}" class="btn btn-info center-success">Previous Page</a>
                    <button type="submit" value="submit" class="btn btn-info center-block">Add Trip </button><br>
                    
                </form>
               
            </div>
        </div>
    </div>
<br>



<script>function myFunction() {
  document.getElementById("myNumber").placeholder = "Amount";
}
</script>
<script>document.getElementById("number").onblur =function (){    
    this.value = parseFloat(this.value.replace(/,/g, ""))
                    .toFixed(2)
                    .toString()
                    .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    
 document.getElementById("display").value = this.value.replace(/,/g, "")
}

</script>

<script>const countriesList = document.getElementById("countries");

function newCountrySelection(event) {
      displayCountryInfo(event.target.value);
}

  fetch("https://restcountries.eu/rest/v2/all")
  .then(res => res.json())
  .then(data => initialize(data))
  .catch(err => console.log("Error:", err));

function initialize(countriesData) {
  countries = countriesData;
  let options = "";

  countries.forEach(country => options+=`<option value="${country.name}">${country.name}</option>`);

  countriesList.innerHTML = options;

  countriesList.selectedIndex = Math.floor(Math.random()*countriesList.length);

}


</script>

<script>

    function compareDates() {

        var Startdate= new ('statedate');
        var Enddate= new Date ('enddate');
  
        if(Startdate>Enddate)
        {
        alert= ("start date is greater than end date.");
        }
        else if(Enddate>Startdate);
        {
        alert= ("End date is greater than start date.");
     
        }       
    }
    
    compareDates();
</script>

<script src="script.js"></script>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>
{% endblock content %} 

