{% extends 'base.html' %}{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet" type="text/css" />
    <title>Trip Itinerary</title>
</head>

<body>

    <div class="container">
        <div class="row">
           
            <div class="col-lg-12">
                <form class='sign-up-form' action="/edit_trip" method="post" enctype="multipart/form-data">
                    <br><br>
                    <h2 class='text-center'>Edit Your Travel Journey!</h2>
                    <br>
                    <input class="form-control" name="_id" value="{{tripInfo._id}}" hidden>
                    <br>
                    User First Name:<input class="form-control" name="name" value="{{tripInfo.name}}" type="text" required>
                    <br>
                    Trip Title:<input class="form-control" name="triptitle" value="{{tripInfo.triptitle}}" placeholder="Enter Trip Title" type="text" required>
                    <br>
                    
                    Please select country : <select id="countries" name="country"></select>
                    
                    <br><br>
                    City Name: <input class="form-control" name="city" value="{{tripInfo.city}}" placeholder="Enter City Name" type="text">
                    <br>
                    Starting Date: 
                    <input type="text" name="sd" value="{{tripInfo.startdate}}" placeholder="DD/MM/YYYY"
                    onfocus="(this.type='date')"
                    onblur="(this.type='text')"> 
                    <br><br>

                    Ending Date : 
                    <input type="text" name="ed" value="{{tripInfo.enddate}}" placeholder="DD/MM/YYYY"
                    onfocus="(this.type='date')"
                    onblur="(this.type='text')">  
                    <br><br>
                    Your Recommended Attractions: <input class="form-control" name="tripattraction" value="{{tripInfo.tripattraction}}" placeholder="Your Recommended Attractions?" type="text" required>
                    <br>
                    Your Trip Review: <input class="form-control" name="tripreview" value="{{tripInfo.tripreview}}" placeholder="Enter Your Trip Review" type="text" required>
                    <br>
                    Trip Ratings: <Input type="number" name="ratings" id="myNumber" value="{{tripInfo.ratings}}" placeholder="Enter Your Trip Ratings" required min="1" step="0.5" max="5" value="0" pattern="[0-9]*" /><br>
                    <p>(1: Very Poor, 2: Poor, 3: Average, 4: Good, 5: Very Good)</p>
                    Estimated Trip Cost: USD <input type="text" name="totalestimatedcost" value="{{tripInfo.totalestimatedcost}}"required min="0.01" step="0.01" max="1000000" value="0.00" id="number" />
                    <br><br>
                    
                    <img class="card-img-top img-fluid" src="{{tripInfo.imageURL}}" alt="profileimg">
          
                    <label for="">Insert Your Trip Profile Image:</label><br>
                    <input type="file"
                    id="photo" name="photo"
                    accept="image/png, image/jpeg" required>
                    <br><br>
                    
                    <p>Posted on {{tripInfo.date}}</p>
                     <br> <br>
                    <a href="{{url_for('landingpagesummary_trip', tripId = tripInfo._id)}}" class="btn btn-info center-success">Previous Page</a>
                    <button type="submit" value="submit" class="btn btn-info center-block">Edit Trip </button><br>
                   
                </form>
            </div>
         </div>
    </div>
<br>


<script>function myFunction() {
  document.getElementById("myNumber").placeholder = "Amount";
}
</script>
<script>document.getElementById("number").onblur =function (){    
    this.value = parseFloat(this.value.replace(/,/g, ""))
                    .toFixed(2)
                    .toString()
                    .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    
 document.getElementById("display").value = this.value.replace(/,/g, "")
}
</script>

  <script>const countriesList = document.getElementById("countries");

    function newCountrySelection(event) {
      displayCountryInfo(event.target.value);
}

  fetch("https://restcountries.eu/rest/v2/all")
  .then(res => res.json())
  .then(data => initialize(data))
  .catch(err => console.log("Error:", err));

function initialize(countriesData) {
  countries = countriesData;
  let options = "";

  countries.forEach(country => options+=`<option value="${country.name}">${country.name}</option>`);

  countriesList.innerHTML = options;

  countriesList.selectedIndex = Math.floor(Math.random()*countriesList.length);

}


</script>
</body>
</html>

{% endblock content %} 
