{% extends 'base.html' %}{% block content %}
<style>
    .name{
        color:red;
    }
</style>


<p>Test</p>

{% for tripInfo in tripInfo %}
<div class='name'>{{tripInfo.name}}</div>

{{tripInfo.country}} <br>

{{tripInfo.city}} <br>

{{tripInfo.startdate}} <br>

<br>
{% endfor %}



    <div class='container'>
        <div class='row'>
            <div class='col-sm-3'>
                <!-- display all states here -->
                <h2>Browse by State</h2>
 
            </div>
            <div class='col-sm-9'>
                <!-- display search or browse results -->
   
                    <h2>Your search results:</h2>
                    <ul>
  
                    </ul>
        
                    <br><br>
                    <h4>There are no cities matching your search.</h4>
              
            </div>
        </div>
    </div>

{% endblock content %}