{% extends 'base.html' %}{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='stylesheet/style.css')}}" type="text/css">
    <title>Trip Itinerary</title>


</head>


<body>

    <div class="container" >
    <header class="container my-4 bg-light">
      <h1 class="display-3">Welcome to Tripee.com</h1>
      <p class="lead">Planning your next trip? Share your trip review? </p>
      <a href="{{url_for('add_trip')}}" class="btn btn-info center-block">Start Your Journey Today!</a>
    </header>

    <div class="row text-center">
      {% for tripInfo in tripInfo %}
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top img-fluid" src="{{tripInfo.imageURL}}" alt="profileimg">
          <div class="card-body">

            <h1 style="color:purple; " class="card-title"><strong>{{tripInfo.country}}</strong></h1>
            <p style=" font-size: 170%;" ><strong>{{tripInfo.city}}</strong></p>
            
            <p class="card-text">
            <div class="country" style="font-family: courier; font-size: 150%;"><strong>{{tripInfo.name}}'s Trip Ratings:{{tripInfo.ratings}} </strong></div>
            <br>
            <h2 style="font-size: 150%; font-family: courier; " ><strong>"{{tripInfo.triptitle}}"</strong></h2><br> 
            <p style="font-size: 100%; font-family: courier; " >{{tripInfo.tripreview}} </p>
            <p style="font-size: 100%; font-family: courier; " >Posted on {{tripInfo.date}}</p>

          </div>
         
          <div class="card-footer">
            <a href="{{url_for('landingpagesummary_trip', tripId = tripInfo._id)}}" class="btn btn-info center-block">Click For Trip Details!</a>
          </div>
         </div>
        </div>
      
           {% endfor %}

    </div>
    </div>
   
{% endblock content %}

</body>
  
</html>

