{% extends 'base.html' %}{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet" type="text/css" />
    <title>Trip Itinerary</title>
</head>
<body>
  <!-- Page Content -->
  <div class="container">

    <div class="row">
  
       <div class="col-lg-9">
          <div class="card card-outline-secondary my-4">
            <div class="card-header">
          <br>
          <strong>Search by Country</strong>
          <br><br>
          <form action="/search_trip"   method="GET">
          <select class="form-control" name="country">
          <option disabled selected>Select Country </option>
          {% for tripInfo in tripInfo %}
          <option value="{{tripInfo.country}}">{{tripInfo.country}}</option>
          {% endfor %}
          </select>
          <br>
          <a href="{{url_for('search_results', tripInfo=tripInfo)}}" class="btn btn-info center-success">Search</a>
          </form>
          <br>
            </div>
          </div>
          
          <div class="card card-outline-secondary my-4">
            <div class="card-header">
          <strong>Search by City</strong>
          <br><br>
          <form action="/search_trip"   method="GET">
          <select class="form-control" name="city">
          <option disabled selected>Select City </option>
          {% for tripInfo2 in tripInfo2 %}
          <option value="{{tripInfo2.city}}">{{tripInfo2.city}}</option>
          {% endfor %}
          </select>
          <br>
          <a href="{{url_for('search_results', tripInfo=tripInfo)}}" class="btn btn-info center-success">Search</a>
          </form>
          <br>
            </div>
          </div>
          
          <div class="card card-outline-secondary my-4">
            <div class="card-header">
          <strong>Search by User</strong>
          <br><br>
          <form action="/search_trip"   method="GET">
          <select class="form-control" name="city">
          <option disabled selected>Select User </option>
          {% for tripInfo3 in tripInfo3 %}
          <option value="{{tripInfo3.name}}">{{tripInfo3.name}}</option>
          {% endfor %}
          </select>
          <br>
          <a href="{{url_for('search_results', tripInfo=tripInfo)}}" class="btn btn-info center-success">Search</a>
          </form>
          <br><br>
            </div>
          </div>
          
          <a href="{{url_for('index', tripInfo=tripInfo)}}" class="btn btn-info center-success">Previous Page</a>
        </div>
      </div>
    </div>

  <br>
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>

{% endblock content %} 

