{% extends 'base.html' %}{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet" type="text/css" />
    <title>Trip Itinerary</title>
</head>
<body>
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
       {% if filename %}
       <div class="card mt-4">
          <img class="card-img-top img-fluid" src="{{url_for('uploaded_file', filename=filename)}}" alt="profileimg">
          {% else %}
           <h1>no image</h1>
            {% endif %}
          <div class="card-body">
            <h1 class="card-title"  style="color:purple; "><strong>{{c}}</strong></h1>
            <p style=" font-size: 170%;"><strong>{{cc}}</strong></p>
            <p style=style="font-family: courier; font-size: 150%;"><strong>{{n}}'s trip ratings: {{r}} stars</strong></p>
            <h2 style="font-size: 150%; font-family: courier; "><strong>"{{tt}}"</strong></h2>
            <p class="card-text" style="font-size: 100%; font-family: courier; ">{{rv}}</p>

          </div>
        </div>
        <!-- /.card -->

        <div class="card card-outline-secondary my-4">
          <div class="card-header">
            Recommended Attractions
          </div>
          <div class="card-body">
            <p style="font-size: 100%; font-family: courier; ">{{a}}</p>
            <br>
          </div>
        </div>
        <div class="card card-outline-secondary my-4">
          <div class="card-header">
            Additional Information
          </div>
          <div class="card-body">
            <p style="font-size: 100%; font-family: courier; ">Trip Start Date: {{sd}}</p>
            <p style="font-size: 100%; font-family: courier; ">Trip End Date: {{ed}}</p>
            <p style="font-size: 100%; font-family: courier; ">Total Estimated Cost of Trip: USD {{ct}}</p>
          </div>
        </div>

            <small class="text-muted">Posted by {{n}} {{date}}</small>
            <hr>
          
          <a href="{{url_for('index')}}" class="btn btn-info center-success">Confirm Details</a>
    
        </div>
       
      <!-- /.col-lg-9 -->
    </div>
  </div>
 
  <!-- /.container -->
  <br>
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>

{% endblock content %} 
