{% extends 'base.html' %}{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet" type="text/css" />
    <title>Trip Itinerary</title>
</head>
<body>
  <!-- Page Content -->
  <div class="container">

    <div class="row">
      
      <div class="col-lg-9">

        <div class="card card-outline-secondary my-4">
   
          <div class="card-header">
            <h1>Search Trip:</h1>
            <form action="/list" method="POST" autocomplete="on">
              <td><input type="text" name="country" placeholder="Country" size="20" /></td><br>
              <td><input type="text" name="city" placeholder="City" size="20" /></td><br>
              <td><button type="submit">Search</button></td>
            <button type="Reset" value="Reset">Reset</button>
            </form>
          </div>
        </div>
      </div><br>

        <a href="{{url_for('index', tripInfo=tripInfo)}}" class="btn btn-info center-success">Previous Page</a>
      
        
    </div>
  </div>

  <br>
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>

{% endblock content %} 

@app.route("/search_results", methods=['POST','GET'])  
def search():  
    #Searching a Task with various references  
    if request.method == 'POST':  
        tripId=request.values.get("_id") 
        country = request.form['country']
        tripInfo = conn[DATABASE_NAME][COLLECTION_NAME].find()
    
    for tripInfo in tripInfo:

        if(tripInfo['country'] == country):  
            return 'route found'
        else:  
            return 'no records found'
    return render_template('searchresults.html',tripInfo=tripInfo)
    
    
    @app.route('/search_results', methods=['POST','GET'])
def search_results():
    
    tripId=request.values.get("_id") 
  
    if(tripId=="_id"):  
         tripInfo = conn[DATABASE_NAME][COLLECTION_NAME].find()({'_id': ObjectId(tripId)})
    else:  
        return 'no records found'
    return render_template('searchresults.html',tripInfo=tripInfo)
    
    var startDate = new Date($('#startDate').val());
    var endDate = new Date($('#endDate').val());

    if (startDate < endDate){
    // Do something
    }